body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-image: url('background_main.jpeg');
  background-size: cover;
  color: white;
}

#main-menu, #pause-menu, #high-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}

#gameCanvas {
  display: block;
  margin: 0 auto;
  background-color: #000;
  cursor: none;
  position: relative;
}

#control-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#control-buttons button {
  margin-left: 5px;
}